* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(31, 30, 30);
  color: darkorange;
}

::selection {
  background: darkorange;
  color: white;
}